CSV_PATH=data/Music Info.csv
HDF5_PATH=data/msd_summary_file.h5
OUTPUT_PATH=output/msd-summary-subset.h5
CSV_LISTENING_HISTORY_PATH=data/User Listening History.csv
LISTENING_HISTORY_OUTPUT_PATH=output/listening-history-sum.csv
CHUNK_SIZE=5000
NUM_CSV_TRACKS=50
NUM_EXTRA_TRACKS=0
